.classpath
.project
.settings/
.metadata/
bin/
build/
*.class
*.war
*.ear
*.jar
target/
temp/
work/
logs/
lib/
db.properties
*.xml~
*.conf
.DS_Store
Thumbs.db
*.iml
.idea/
.vscode/
*.log
*.tmp
*.bak
*.swp
*.old
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
*.~lock
*~ 